PMS/.vs/
PMS/PMS/bin/
PMS/PMS/obj/
.vs/
/CodeBE_LEM/bin/Debug/net7.0
/CodeBE_LEM/obj
/CodeBE_LEM.Tests/obj
/CodeBE_LEM.Tests/bin/Debug/net7.0
/CodeBE_LEM/CodeBE_LEM.csproj.user
bin/
obj/
obj/Debug/net7.0
obj/CodeBE_LEM.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net7.0/CodeBE_LEM.csproj.AssemblyReference.cache
obj/Debug/net7.0/CodeBE_LEM.assets.cache
obj/CodeBE_LEM.csproj.nuget.g.props
